.contenedor{
 background-color: antiquewhite;
 align-items: center;
 justify-content: center;
}

body {
  background-color: antiquewhite;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
}

h1{
  color:rgb(223, 14, 111);
  font-size: 20px;
}

h2{
  color: rgb(0, 0, 0)
}

p{
  font-size: 18px;
  color: rgb(75, 75, 75);
}

img{
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

button{
  color: rgb(0, 0, 0);
  width: 100px;
  background-color: rgb(226, 43, 156);
  border-radius: 12px 12px;
  margin: 10px;
}

.tarjeta-cv {
  background-color: #ffffff;
  max-width: 600px;
  width: 100%;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  text-align: center; 
}